body{
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.more-radius-1{
    border-radius: $q_border-radius ;
}

.z-index-sticky{
    z-index:$zindex-sticky ;
}

// User-orders
.single-order{

    .footer{
        display:none;
        transition: all 0.2s
    }
    &:hover{
        .footer{
            display:flex ;
        }
    }
}

.order-metas{

}
.single-order-meta{
    border-right: solid 1px map-get($grays,'500');

    &:last-of-type {
    border-right: none ;
    }
    .meta-display{
        display:none
    }

    .meta-status{
        display:block ;
    }

    &:hover{
        flex: 1 1 auto !important;


        .meta-display{
            display:flex ;
        }

        .meta-status{
            display:none ;
        }
    }


}

// https://jsfiddle.net/yyp67pbg/
.dotted-spaced-bottom {
    background-image: linear-gradient(to right, #979494 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 15px 1px;
    background-repeat: repeat-x;
}


.v-input--checkbox .v-label{
    margin-bottom:0 ;
}

.invisible{
    visibility: hidden !important;
}

.visible{
    visibility: visible !important;
}

.remove-last-border{
    .v-divider:last-child{
        display: none
    }
}

.no-margin {
    .v-skeleton-loader__bone{
        &.v-skeleton-loader__heading{
            margin:0 auto !important;
        }
    }
}

.height-100{
    height:100% ;


}

.window-height-100.v-window{
    .v-window__container{
        height:100%;

        .v-window-item{
            height:100%
        }
    }
}
