<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<% BASE_URL %>favicon.ico">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDr1UWE4inKvHToo6ST5U9ftABf2yzFV78&sensor=false&libraries=places"></script> <!-- key=AIzaSyDr1UWE4inKvHToo6ST5U9ftABf2yzFV78-->
    <title>directbuy</title>
    <style>
    .pac-container{
        z-index:10004 !important ; /*Using in jBox modal with high  zIndex,*/
    }
    #pac-input{
        background-color: white;
    }
    </style>
     <link rel="stylesheet" href="<%- BASE_URL %>assets/css/preloader.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but qshopper_app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
